{{log this}}
<form action="">
    <h3>{{pdfUrl}}</h3>
    <div class="flexrow">
        <a id="pdfFileSelector">
            <i class="fas fa-download"""></i>select pdf file
        </a>

        <a id="pdfAnalize">
            <i class="fas fa-goggle"""></i>analyse
        </a>

    </div>
    <div class="flexrow">
        <div class="flexcol">
            <input type="number" id="activePage" name="activePage" value="{{activePage}}">
            <div>
                <canvas id="the-canvas" style="border:1px solid black;"></canvas>
                <div id="text-layer" class="textLayer"></div>
            </div>
        </div>
        <div class="flexcol">truc</div>
        <ul>
            {{#each object.fonts as |name obj|}}
            <li> {{name}}</li>

            {{/each}}
        </ul>

    </div>
</form>