{{log this}}
<form action="">
    <h3>{{this.object.pdfUrl}}</h3>
    <div class="flexrow">
        <button id="pdfFileSelector">
            <i class="fas fa-download"""></i>select pdf file
        </button>
        <button id="renderPdf">
            <i class="fas fa-search"""></i>render pdf
        </button>

    </div>
    <div class="flexrow">
        <div class="flexcol">
            <input type="number" name="object.activePage" value="{{this.object.activePage}}">
            <div>
                <canvas id="the-canvas" style="border:1px solid black;"></canvas>
                <div id="text-layer" class="textLayer"></div>
            </div>
        </div>
        <div class="flexcol">truc</div>
    </div>
</form>