#text-layer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    line-height: 1.0;
    color: rgba(0, 0, 0, 0.267);


}

#textLayer span {
    color: red;
    position: absolute;
    cursor: text;
    opacity: 1;
    transform-origin: 0% 0%;
    user-select: text !important;
    -webkit-user-select: textt !important;
    -moz-user-select: textt !important;
}

input[disabled]#maxPage {
    color: black
}

#pdfReader {
    position: relative;
    user-select: auto;
    resize: both;
}

@keyframes rotation {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(359deg);
    }
}

#pdfLoading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.496);
    color: aliceblue;
    text-shadow: 0px 0px 20px black;
    z-index: 6000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#pdfLoading i {
    font-size: 600px;


}

#pdfReader iframe {
    width: 100%;
    height: 90%;
}

a#createJournal,
a#getContent {
    text-align: center;
    border: 1px solid white;
    margin: 5px;
    padding-top: 10px;
}